.card {
    width: 32%;
    margin: 0 auto;
    margin-top: 5%;
}

.form-group {
    margin: 0 auto;
    width: 14rem;
}

.btn-primary {
    margin-top: 15px;
}

.login-container{
    background-image: url('https://images.wallpaperscraft.com/image/the_hobbit_the_battle_of_the_five_armies_lee_pace_thranduil_99874_1920x1080.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 4%;
}

/* .login-container:hover{
    background-size: 5%;
} */